<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanmei.peiyu">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PeiYuApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- fileProvider配置访问路径，适配7.0及其以上 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lanmei.peiyu.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Ax5AyKSGGORbQQ09ng4UTurBW7KFlkQW" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c3e9023f1f5562f8f00099b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="hyphenate" />

        <!-- 微信Pay -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.MineOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.MinePowerStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.MyTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.OrderCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.BecomeDistributorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.ChooseKaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.ClubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.BoundKaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.AfterSaleOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.InstallApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.ApplyInstallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.ApplyAfterSaleOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.DataEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.ClassifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.AnnouncementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.SimulationIncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.activity.ClassifyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.activity.ClassifyGoodsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.activity.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.activity.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.activity.GoodsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.classify.activity.SearchGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.activity.NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.activity.SearchNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webviewpage.PhotoBrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.PersonalDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.activity.PersonalCompileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".certificate.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.activity.UpgradeActivity"/>
    </application>

</manifest>